<% provide(:title, 'All books') %>
<div class="row">
  <div class="small-6 columns">

<h1>All books</h1>
<table>
    <tr>
        <td><%= form_tag(books_path, :method => "get", id: "search-form") do %>
                  <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
                  <%= submit_tag "Search" %> || 
                  <%=link_to "Escape Search", books_path%>
                <% end %></td></tr></table>
  </div>
  </div>
  <table>
      <%if !current_user.admin?%>
                <thead>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Borrow<th>
                </thead><%end%>

                <tbody>

<tr>
<% @books.each do |b| %>
    <% if current_user.admin? %>
<div class="row">
    <div class="small-3 columns">

        
        <%= b.title %> by <%=b.author%>
    </div>
    <div class="small-3 columns">

        <p class="button">   <%= link_to "DELETE", destroy_path(id: b.id) %></p>
    </div>
 <div class="small-3 columns">

     <p class="button">  <%= link_to "EDIT", edit_book_path(id: b.id) %></p>
 </div>
 </div>
<% else %>

                                                                       <td><%=b.title%></td>
            <!-- Check bookstatus -->
            <% if b.bookstatus == "unavailable" %>
                <!-- Display "UNAVAILABLE" -->
                <td>   <b>UNAVAILABLE</b></td>
            <% else %>
                <td>  <b>AVAILABLE<b> </td>             <!-- Display link to borrow book -->
                        <td class="button">  <%=link_to "Borrow Book", borrow_url(id: b.id, user_id: current_user.id)%></td>
                    </tr>
                </tbody>
                </table>
                <% end %>
    <% end %>
<%end%>
