<% provide(:title, 'All books') %>
<h1>All books</h1>

<% @books.each do |b| %>
    <% if current_user.admin? %>
        <li><%= b.title %> | 
            <%= link_to "DELETE", destroy_path(id: b.id) %> |
            <%= link_to "EDIT", edit_book_path(id: b.id) %>
        <li>
    <% else %>
        <li><%=b.title%> | 
            <!-- Check bookstatus -->
            <% if b.bookstatus == "unavailable" %>
                <!-- Display "UNAVAILABLE" -->
                <b>UNAVAILABLE</b>
            <% else %>
                <!-- Display link to borrow book -->
                <%=link_to "Borrow Book", borrow_url(id: b.id, user_id: current_user.id)%></li>
            <% end %>
    <% end %>
<%end%>
