<div class="top-bar">
    <div class="top-bar-left">
        <li class="menu-text">Gee-Lib</li>
    </div>

    <div class="top-bar-right">
        <ul class="menu">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About Gee~Lib", about_path %></li>
            <% if logged_in? %>        
                <% if current_user.admin? %>
                    <li><%= link_to "create book", bookup_path %></li>
                    <li><%= link_to "Users", users_path %></li>
                <% end %>
                <li><%= link_to "view books", books_path %></li>
                <li> <h1><%= current_user.name %></h1></li>
                <li><%= link_to "Library Profile", current_user %></li>
                <li><%= pluralize(current_user.books.count, "book") %></li>
                <li><%=link_to "My Added Books", current_user%></li>
                <%# <%= render 'shared/books_display'%>
                <li><%= link_to "Edit Details", edit_user_path(current_user) %></li>
                <li> <%= link_to "Log out", logout_path, method: "delete" %> </li>
            <% else %>
                <li><%= link_to "Log in here", login_path %></li>
            <% end %>
        </ul>
    </div>
</div>

