<div class="top-bar">

    <div class="top-bar-left">
        
        <h1>   <%= image_tag("book6.png", size: "100")%>  <a href=users/root_path style="color:blue" class="menu-text"> Gee~Lib</a></h1>
    </div>

    <div class="top-bar-right">
 <div class="label">

        <ul class="menu">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About Gee~Lib", about_path %></li>
            <li> <%= link_to "Sign Up", signup_url %></li></ul></div></div>
    <div class="top-bar-left"><div class="username"><ul class="menu">
            <% if logged_in? %>        
                <%# <li> <h3 style="color:blue">Welcome <%= current_user.name %1></li></h3><br> %>
                <%# <li> You have <%= pluralize(current_user.books.count, "book") %1></li> %></div>
    </div><div class="top-bar-right">
 <div class="label">

           <ul class="menu">
                <% if current_user.admin? %>
                    <li><%= link_to "create book", bookup_path %></li>
                    <li><%= link_to "Users", users_path %></li>
                    <li><%= link_to "Borrowed Books", borrowed_path %></li>
                    <li><%= link_to "Given Away", given_away_path  %></li>
                    <li><%= link_to "Lost Books", lost_books_path %></li>
                    <li><%= link_to "All Surcharged Books", all_surcharged_books_path %></li>
                <% end %>
                <li><%= link_to "All Books", books_path %></li>
                               <li> <% unless current_user.admin? %><%=link_to "My Borrowed Books", current_user %> <% end %></li>
                <%# <%= render 'shared/books_display'%>
                <li><%= link_to "Edit Details", edit_user_path(current_user) %></li>
                <li> <%= link_to "Log out", logout_path, method: "delete" %> </li>
            <% else %>
                        <div class="top-bar-left">
        <ul class="menu">

            <%# <li><%= link_to "Refresh", login_path %1></li> %>
        </ul><div>
            <% end %>
        </ul>
    </div>
</div>
</div>
